// TODO: remove

body {
  padding: 0;
  margin: 0;
  background: tan;
}

main {
  font-family: sans-serif;
  width: 40em;
  height: auto;
  margin: 0 auto;
  background: wheat;
  color: olive;
  padding: 1em 3em;
}

h2 {  
  font-weight: 100;
  font-size: 2em;
  color: peru;
}

h3 {
  color: darkgreen;
  font-weight: 500;
}